[Unit]
Description=Stream TTS

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=bash start.sh
WorkingDirectory=/home/alexandra/git/streamtts

[Install]
WantedBy=default.target
